IGNORE
# Build outputs
build_application/
build_bootloader/
build_combined/
 
# Local tool installs
/tools/MRS_Toolchain_Linux_x64_V1.92/
/tools/wlink/
MRS_Toolchain_Linux_x64_V1.92.tar.xz
*.tar.xz
 
# Object/dependency files, in case any end up outside the build_* dirs
*.o
*.d
 
# VS Code state
/.vscode/*.log
 